[submodule "test/dnnv-benchmarks"]
	path = test/dnnv-benchmarks
	url = git@github.com:dlshriver/dnnv-benchmarks.git
	ignore = all
[submodule "test/vnncomp2023_benchmarks"]
	path = test/vnncomp2023_benchmarks
	url = git@github.com:ChristopherBrix/vnncomp2023_benchmarks.git
	ignore = all
[submodule "test/vnncomp2022_benchmarks"]
	path = test/vnncomp2022_benchmarks
	url = git@github.com:ChristopherBrix/vnncomp2022_benchmarks.git
	ignore = all

